@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  background: url(./images/pattern-bg.svg) center top;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 80% 0%;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 768px;
  position: relative;
}

.image img {
  width: 350px;
  height: 380px;
  border-radius: 10px;
  /* margin-top: 50px; */
}

.feedback {
  position: relative;
  text-align: justify;
  line-height: 2rem;
}

.feedback img {
  height: 60px;
  position: absolute;
  top: -40px;
  left: 50px;
}

.feedback p {
  color: hsl(240, 38%, 20%);
  font-size: 18px;
}

.name {
  color: hsl(240, 38%, 20%);
  padding-top: 2rem;
}

.role {
  color: hsl(240, 18%, 77%);
  padding-left: 10px;
}

.slider-container {
  position: relative;
  
}

.button {
  display: inline-block;
  box-shadow: 1px 4px 5px hsl(240, 38%, 20%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  position: absolute;
  bottom: 0.05%;
  left: 20%;
}

.button img {
  cursor: pointer;
  padding: 8px 10px 5px 10px;
}

.hide {
  display: none;
}

footer img {
  width: 100%;
  margin-left: -50%;
}


@media (max-width: 800px) {
  body {
    background: url(./images/pattern-bg.svg) top;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 50% 1%;
  }

  .container {
    flex-direction: column;
    width: 350px;
  }

  .image img {
    width: 200px;
    height: 200px;
    /* margin-top: 30px; */
  }

  .feedback {
    text-align: center;
    line-height: 1.2rem;
    margin-top: 70px;
  }

  .feedback img {
      left: 40%;
  }

  .feedback p {
    font-size: 16px;
  }

  .name {
    padding-top: 1rem;
  }

  .role {
    display: block;
  }

  .button {
    bottom: -5%;
    left: 35%;
  }

  footer img {
    max-width: 450px;
    margin-left: 0%;
  }
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

